<h2>Endre spillelisten</h2>
{% set p = playlist %}
<a href="index.php?deletePlaylist={{p.playlistId}}">Slette spillelisten?</a>

{% if p.playlistId is defined %}

<form method="POST" action="index.php" enctype="multipart/form-data">
	<input type="hidden" name="id" value="{{p.playlistId}}">
	<label for="title">Tittel</label>
	<input type="text" name="title" value="{{p.title}}">
	<label for="description">Beskrivelse</label>
	<textarea name="description" cols="30" rows="10">{{p.description}}</textarea>
	<label for="thumbnail">Thumbnail</label>
	<input type="file" name="thumbnail" id="thumbnail">
	<img src="uploadedFiles/{{p.userId}}/{{p.playlistId}}/thumbnail.{{p.fileExtension}}" />
	<label for="topic">Emne</label>
	<input type="text" name="topic" value="{{p.topic}}">
	<label for="course">Fag</label>
	<input type="text" name="course" value="{{p.course}}">

	<h3>Videoene i spillelisten</h3>
	<table>
		<tr>
			<th>Thumbnail</th>
			<th>Navn på videoen</th>
			<th>Beskrivelse</th>
			<th>Seertall</th>
			<th>Tidspunkt lagt ut</th>
			<th>Endre video?</th>
			<th>Rekkefølge</th>
		</tr>
		{% for v in videos %}
		{% if v.videoName is defined %}
		<tr>
			<td><img src="uploadedFiles/{{v.userId}}/{{v.videoId}}/thumbnail.{{v.fileExtension}}" /></td>
			<td>{{ v.videoName }}</td>
			<td>{{ v.videoDescription }}</td>
			<td>{{ v.views }}</td>
			<td>{{ v.time }}</td>
			<td><a href="index.php?editVideo={{v.videoId}}">Endre?</a></td>
			<td><input type="hidden" name="videoIds[]" value="{{v.videoId}}">
				<input type="text" name="videoOrder[]" value="{{v.videoRank}}">
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	{% if otherVideos is defined %}
	<h4>Legg til videoer i spillelisten</h4>
	<div>
		<table>
			<tr>
				<th>Thumbnail</th>
				<th>Tittel</th>
				<th>Beskrivelse</th>
				<th>Seertall</th>
				<th>Tidspunkt laget</th>
				<th>Legg til i spillelisten</th>
			</tr>
			{% set id = 1 %}
			{% for v in otherVideos %}
			{% if v.name is defined %}
			<tr>
				<td><img src="uploadedFiles/{{v.userId}}/{{v.id}}/thumbnail.{{v.fileExtension}}" /></td>
				<td>{{ v.name }}</td>
				<td>{{ v.description }}</td>
				<td>{{ v.views }}</td>
				<td>{{ v.time }}</td>
				<td><input type="checkbox" name="videosToAdd[]" value="{{v.id}}" id="{{id}}"></td>
			</tr>
			{% set id = id + 1 %}
			{% endif %}
			{% endfor %}
		</table>
	</div>
	{% else %}
	<p>{{message}}</p>
	{% endif %}

	<input type="submit" name="savePlaylist" value="Lagre endringer">
</form>

{% endif %}