{% if errorInfo is empty %}
<h2>ERROR</h2>
<p>{{ errorMessage }}</p>

{% else %}
<h2>ERROR</h2>
<ul>
    {% for err in errorInfo %}
    <li>{{ err }}</li>
    {% endfor %}
</ul>
{% endif %}
<a href="index.php">tilbake</a>