<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/rate.css" />
    <title>Forelesningsvideoer</title>
</head>

<body>
    {% include 'user.html' %}

    {% if view == 'error' %}
    {% include 'error.html' %}
    {% endif %}

    {% if view == 'confirmation' %}
    {% include 'confirmation.html' %}
    {% endif %}


</body>

</html>