<h2>Logg inn: </h2>
<form method="post">
    <div>
        <label for="email"> Epost: </label><input type="email" name="email" required />
    </div>
    <div>
        <label for="password"> Passord: </label><input type="password" name="password" required />
    </div>
    <input type="submit" name="loginUser" value="Logg inn" />
</form>