<h2>{{video.name}}</h2>
<video src="../videos/testVideo.mp4" controls></video>
<p>{{video.description}}</p>
<span>Dato: {{video.time}}</span>
<span>Seertall: {{video.views}}</span>
<span>Lærer: {{video.userId}}</span>
<span>Rating: {{video.rating}}</span>
<form id="rate" action="index.php" method="POST">

	<input type="hidden" name="videoId" value="{{video.id}}">
	<label for="rate">Rate videoen:</label>
	<div class="rate">
		<input type="radio" id="star5" name="rate" value="5" />
		<label for="star5" title="text">5 stars</label>
		<input type="radio" id="star4" name="rate" value="4" />
		<label for="star4" title="text">4 stars</label>
		<input type="radio" id="star3" name="rate" value="3" />
		<label for="star3" title="text">3 stars</label>
		<input type="radio" id="star2" name="rate" value="2" />
		<label for="star2" title="text">2 stars</label>
		<input type="radio" id="star1" name="rate" value="1" />
		<label for="star1" title="text">1 star</label>
	</div>
	<input type="submit" id="rateVideo" value="Rate video">
</form>
<form id="comment" action="index.php" method="POST">
	<input type="hidden" name="videoId" value="{{video.id}}">
	<label for="comment">Kommenter på videoen</label>
	<input type="text" name="commentText">
	<input type="submit" id="sendComment" value="Kommenter">
</form>

<div>
	{% for c in comments %}
	{% if c.comment is defined %}
	<h4>{{c.userId}}:</h4>
	<span>{{c.comment}}</span>
	<p>Tidspunkt: {{c.time}}</p>
	<br />
	{% endif %}
	{% endfor %}
</div>