<h2>Registrer deg her:</h2>
<form method="POST">
  <div>
    <label for="username"> Brukernavn: </label><input type="text" name="username" required />
  </div>
  <div>
    <label for="fullname"> Fullt navn: </label><input type="text" name="fullname" required />
  </div>
  <div>
    <label for="email"> E-Post: </label><input type="email" name="email" required />
  </div>
  <div>
    <label for="password01"> Passord: </label><input type="password" name="password01" required />
  </div>
  <div>
    <label for="password02"> Gjennta passord: </label><input type="password" name="password02" required />
  </div>
  <div>
    <label for="userType">Brukertype:</label>
    <p>Student</p>
    <input type="radio" name="userType" value="student" checked />
    <p>Lærer</p>
    <input type="radio" name="userType" value="teacher" />
    <p>Admin</p>
    <input type="radio" name="userType" value="admin" />
  </div>
  <input type="submit" name="createUser" value="Lag bruker" />
</form>