<h1>Student</h1>
<div>
	<form action="index.php" method="get">
		<div>
			<input type="search" name="search" placeholder="Søk etter forelesere, videoer...">
		</div>
		<div>
			<input type="submit" value="search">
		</div>
	</form>
	<a href="index.php?showSubscriptions=1">Vis dine abonnementer</a>
</div>


{% if view == 'showSubscriptions' %}
<a href="index.php">tilbake</a>

<div>
	{% if playlists is defined %}
	{% for p in playlists %}
	<img src="uploadedFiles/{{p.userId}}/{{p.id}}/thumbnail.{{p.fileExtension}}" />
	<h3>{{p.title}}</h3>
	<p>{{p.description}}</p>
	<span>Emne: {{p.topic}}</span>
	<span>Fag: {{p.course}}</span>
	<a href="index.php?openPlaylist={{p.id}}">Vis spillelisten</a>
	<a href="index.php?unsubscribeToPlaylist={{p.id}}">Avslutt abonnement?</a>
	<br />
	{% endfor %}
	{% else %}
	<p>{{message}}</p>
	{% endif %}
</div>

{% elseif view == 'openVideo' %}
<a href="index.php">tilbake</a>

{% include 'openVideo.html' %}

{% elseif view == 'search' %}
<a href="index.php">tilbake</a>

{% include 'searchView.html' %}

{% elseif view == 'openPlaylist' %}

{% include 'openPlaylist.html' %}

{% else %}
<div>
	<div>
		<h3>Dine abonnementer</h3>
		<div>
			{% if playlists is defined %}
			{% for p in playlists %}
			<img src="uploadedFiles/{{p.userId}}/{{p.id}}/thumbnail.{{p.fileExtension}}" />
			<h3>{{p.title}}</h3>
			<p>{{p.description}}</p>
			<span>Emne: {{p.topic}}</span>
			<span>Fag: {{p.course}}</span>
			<a href="index.php?openPlaylist={{p.id}}">Vis spillelisten</a>
			<a href="index.php?unsubscribeToPlaylist={{p.id}}">Avslutt abonnement?</a>
			<br />
			{% endfor %}
			{% else %}
			<p>{{playlistMessage}}</p>
			{% endif %}
		</div>
		<h2>Nye videoer</h2>
		{% if videos is defined %}
		{% for v in videos %}

		<h3>{{v.name}}</h3>
		<p>{{v.description}}</p>
		<span>Dato: {{v.time}}</span>
		<span>Seertall: {{v.views}}</span>
		<span>Lærer: {{v.userId}}</span>
		<span>Rating: {{v.rating}}</span>
		<img src="uploadedFiles/{{v.userId}}/{{v.id}}/thumbnail.{{v.fileExtension}}" />
		<a href="index.php?openVideo={{v.id}}">Se video</a>

	</div>
	{% endfor %}
	{% else %}
	<p>{{videoMessage}}</p>
	{% endif %}

</div>
{% endif %}