{% if user.loggedIn=='yes' %}
<form id="logout" method="POST" action="index.php">
    <input type="hidden" name="logout" value="1">
    <input type="submit" name="Loggut" value="logg ut">
</form>
{% if user.validated == '1' %}
{% if user.userType == 'teacher' %}
{% include 'teacherView.html' %}
{% elseif user.userType == 'student' %}
{% include 'studentView.html' %}
{% elseif user.userType == 'admin' %}
{% include 'adminView.html' %}
{% endif %}
{% else %}
<span>Vent på godkjennig fra administrator</span>
{% endif %}
{% else %}
<p>Ikke logget inn</p>
{% include 'loginForm.html' %}
{% include 'signupForm.html' %}
{% endif %}