{% if showUsers == 'all' or showUsers == 'validate' %}
<div>
    {% if users|length > 0 %}
    <table>
        <tr>
            <th>Brukernavn</th>
            <th>Fult navn</th>
            <th>Email</th>
            <th>Bruker type</th>
            <th>Validert</th>
            <th>{{ showUsers == 'validate' ? 'Valider bruker' : 'Gi bruker admin tilgang' }}</th>
        </tr>
        {% for u in users %}
        {% if u.email is defined %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.fullname }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.userType }}</td>
            <td>{{ u.validated == '1' ? 'ja' : 'nei' }}</td>
            {% if showUsers == 'validate' %}
            <td><a href="index.php?changeUser={{u.email}}">Valider</a></td>
            {% else %}
            <td><a href="index.php?giveAccess={{u.email}}">Gi admin tilgang</a></td>
            {% endif %}

        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% else %}
    <p>Ingen brukere å validere</p>
    {% endif %}
</div>
{% endif %}